<phpunit
        printerClass="iakio\phpunit\GrowlPrinter"
        printerFile="src\iakio\phpunit\GrowlPrinter.php"
>

    <testsuite name="Test Suite">
        <directory>tests</directory>
    </testsuite>

</phpunit>
